[tool.poetry]
name = "hypermodern-python"
version = "0.1.0"
description = ""
authors = ["Claudio Jolowicz <claudio.jolowicz@cyren.com>"]

[tool.poetry.dependencies]
python = "^3.8"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
